@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div>

    <div class="col">
        columna 3
    </div>

    <div class="col">
        columna 4
    </div>

    <div class="col">
        columna 5
    </div>

    <div class="col">
        columna 6
    </div>

    <div class="col">
        columna 7
    </div>

    <div class="col">
        columna 8
    </div>

    <div class="col">
        columna 9
    </div>

    <div class="col">
        columna 10
    </div>

    <div class="col">
        columna 11
    </div>

    <div class="col">
        columna 12
    </div>



</div>



<h1>
    Ejemplo 1 alineado la fila
</h1>

<div class="row align-items-start">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2 
    </div><div class="col">
        columna 3
    </div>


 </div><div class="row align-items-center">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2 
    </div><div class="col">
        columna 3
    </div>


 </div><div class="row align-items-end">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2 
    </div><div class="col">
        columna 3
    </div>


</div>


<h1>
    Ejemplo 2: alineando las columnas horizontalmemte

</h1>
<div>
    <div class="row">
        <div class="col align-self-start">
            columna 1
        </div>
        <div class="col align-self-center">
            columna 2
        </div>
        <div class="col align-self-end">
            columna 3
        </div>

    </div>
</div>

<h1> Ejemplo 3 offset</h1>
<div class="row">
    <div class="col-4">Columna1</div>
    <div class="col-4 offset-4">Columna2</div>


</div>

<h1>Ejemplo 4 Auto Margen</h1>
<div class="row">
    <div class="col-3">Columna 1</div>
    <div class="col-4 ms-auto">Columna 2</div>


</div>


