@{
    ViewData["Title"] = "Home Page";
}
<p> 
    hjsdfjd

</p>

<div class="row">
    <div class="col">
        columna 1
    </div>

    <div class="col-6">
        columna 2
    </div>

    <div class="col">
        columna 3
    </div>
    
    <div class="col">
        columna 4
    </div>

    <div class="col">
        columna 5
    </div>

    <div class="col">
        columna 6
    </div>

    <div class="col">
        columna 7
    </div>

    <div class="col">
        columna 8
    </div>

    <div class="col">
        columna 9
    </div>

    <div class="col">
        columna 10
    </div>

    <div class="col">
        columna 11
    </div>

    <div class="col">
        columna 12
    </div>
</div>

<div class="row">
    <div class="col">
        columna 1
    </div>

    <div class="col">
        columna 2
    </div>

    <div class="col">
        columna 3
    </div>

</div>


<h2> Ejemplo: Vertical</h2>

<div class="row">
    <div class="col-sm-4">
        Columna 1 
    </div>

    <div class="col-sm-4">
        Columna 2
    </div>

    <div class="col-sm-4">
        Columna 3
    </div>

</div>


<h4> Ejemplo 1: Alineando la fila</h4>

<div class="row align-items-center">
    <div class="col"> 
        Columna 1
    </div>

    <div class="col">
        Columna 2
    </div>

    <div class="col">
        Columna 3
    </div>

</div>

<div class="row align-items-end">
    <div class="col">
        Columna 1
    </div>

    <div class="col">
        Columna 2
    </div>

    <div class="col">
        Columna 3
    </div>

</div>

<div class="row align-items-start">
    <div class="col">
        Columna 1
    </div>

    <div class="col">
        Columna 2
    </div>

    <div class="col">
        Columna 3
    </div>

</div>

<h4> Ejemplo 2: alinenando horizontalmente</h4>

<div class="row">
    <div class="col align-self-start"> 
        Columna 1
    </div>

    <div class="col align-self-center">
        Columna 2
    </div>

    <div class="col align-self-end">
        Columna 3
    </div>
</div>
